<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.1" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Glass.Mapper.Sc" version="4.3.2.195" targetFramework="net461" />
  <package id="Glass.Mapper.Sc.Core" version="4.3.2.195" targetFramework="net461" />
</packages>