<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Sitecore().CurrentItem.DisplayName </title>
    <link rel="stylesheet" href="~/Content/dist/css/vendor.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/app.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script data-main="/Scripts/init.js" src="/Scripts/require.js"></script>   
</head>
<body>
    @RenderBody()
</body>
</html>
