@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Sitecore().Placeholder("header")

<div class="container body-content">

    @Html.Sitecore().Placeholder("content-main")

</div>
@Html.Sitecore().Placeholder("footer")