@using AppName.SCCMS.Extensions

<div class="row">
    <div class="col-md-6">
        @Html.Sitecore().DynamicPlaceholder("col-6-1")
    </div>
    <div class="col-md-6">
        @Html.Sitecore().DynamicPlaceholder("col-6-2")
    </div>
</div>