@using AppName.SCCMS.Extensions

<div class="row">
    <div class="col-md-8">
        @Html.Sitecore().DynamicPlaceholder("col-8")
    </div>
    <div class="col-md-4">
        @Html.Sitecore().DynamicPlaceholder("col-4")
    </div>
</div>
