@using AppName.SCCMS.Extensions

<div class="row">
    <div class="col-md-3">
        @Html.Sitecore().DynamicPlaceholder("col-3-1")
    </div>
    <div class="col-md-3">
        @Html.Sitecore().DynamicPlaceholder("col-3-2")
    </div>
    <div class="col-md-3">
        @Html.Sitecore().DynamicPlaceholder("col-3-3")
    </div>
    <div class="col-md-3">
        @Html.Sitecore().DynamicPlaceholder("col-3-4")
    </div>
</div>
